<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../static/form.css">
    </head>
    <body>
        <form method="GET">
            <h1>Recenze</h1>
            <label for="recenze">Recenze: </label><input
                type="text"
                autocomplete="off"
                placeholder="Napiš recenzi"
                autofocus />
                <!-- Hodnocení: chybí tlačítko pro odeslání -->
            <p>Recenze uživatele {{jinja}} </p> 
            <!-- Místo tří teček by se mělo doplnit recenzi, kterou odeslal uživatel ve formuláři -->
    </body>
</html>